<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 引入接口，只要实现接口的方法就会调用对应接口方法的 select id -->
<mapper namespace="gyqx.platform.base.dao.mapper.IBasCompanyInfoMapper">
	<!-- parameterType传入参数类型 resultMap=自己定义的一个返回类型 resultType返回类型 -->
	<select id="getBasCompanyInfoList" resultMap="bCompanyMap"
		parameterType="gyqx.spdhdi.po.BasCompanyInfo">
		select * from bas_company_info 
		<where>
			<if test='cname != null and cname !=""'>
			 <bind name="cname" value="'%' + cname + '%'" />
				and cname LIKE  #{cname}  
			</if>
			<if test='kind != null and kind !="" and kind == "2"'>
				and (kind =  2 or kind =4  )
			</if>
			<if test='kind != null and kind !="" and kind == "3"'>
				and (kind =  3 or kind =4  )
			</if>
			<if test='kind != null and kind !="" and kind != "2" and kind !="3"'>
				and kind = #{kind}
			</if>
			and flag=1
		</where>
		order by id
	</select>
	
	<select id="getMyProvs" resultMap="bCompanyMapVo"
		parameterType="gyqx.platform.base.vo.ProvVo">
			<!-- SELECT bci.* from hos_collector_prov hcp LEFT JOIN bas_company_info bci on hcp.prov_id = bci.id
			WHERE bci.kind = '2' and hcp.collector_id = #{collectorId} -->
			
			SELECT bci2.cname as hos_name,hcp.id as hcpId,hcp.collector_id, hcp.hos_id,bci.* from hos_collector_prov hcp 
			LEFT JOIN bas_company_info bci on hcp.prov_id = bci.id
			LEFT JOIN bas_company_info bci2 on hcp.hos_id = bci2.id
				WHERE bci.kind = '2' and hcp.collector_id = #{collectorId}
			
			<if test='cname != null and cname !=""'>
			 <bind name="cname" value="'%' + cname + '%'" />
				and bci.cname LIKE  #{cname}  
			</if>
	</select>
	
	
		
	<resultMap type="gyqx.spdhdi.po.BasCompanyInfo" id="bCompanyMap">
		<id property="id" column="id"/>
		<id property="code" column="code"/>
		<result column="mfrs_kind" property="mfrsKind" jdbcType="VARCHAR" />
		<result column="agent_name" property="agentName" jdbcType="VARCHAR" />
		<result column="product_code" property="productCode" jdbcType="VARCHAR" />
		<result column="record_card" property="recordCard" jdbcType="VARCHAR" />
		
		<result property="cname"  column="cname"/>
		<result property="anotherName"  column="another_name"/>
		<result property="shortPinyin"  column="short_pinyin"/>
		<result property="regCode"  column="Reg_code"/>
		<result property="jyxkCode"  column="jyxk_code"/>
		<result property="nsrsbCode"  column="nsrsb_code"/>
		<result property="kind"  column="kind"/>
	    <result property="legal"  column="legal"/>
		<result property="address"  column="address"/>
		<result property="linkman"  column="linkman"/>
		<result property="contactWay"  column="contact_way"/>
		<result property="contactFax"  column="contact_fax"/>
		<result property="logo" column="logo"/>
		<result property="masterCode" column="master_code"/>   
		<result property="postCode" column="post_code"/>  
		<result property="email" column="email"/>
		<result property="remark" column="remark"/>
		<result property="erpCode" column="erp_code"/>
		<result property="isSupply" column="is_supply"/>
		<result property="isThreeInOne" column="is_three_in_one"/>   
		<result property="flag" column="flag"/>
		<result property="uid" column="uxid"/>
		<result property="fillDate" column="fill_date"/>   
		<result property="lastUpdateDatetime" column="last_update_datetime"/>
		<result property="version" column="version"/>
	</resultMap>  
	<resultMap type="gyqx.platform.base.vo.BasCompanyInfoVo" id="bCompanyMapVo">
		<!-- 前三个属性为继承扩展属性 -->
		<id property="id" column="id"/>
		<id property="code" column="code"/>
		
		<result property="collectorId" column="collector_id"/>
		<result property="hosId" column="hos_id"/>
		<result property="hosName" column="hos_name"/>
		<result property="hcpId" column="hcpId"/>
		
		<result column="mfrs_kind" property="mfrsKind" jdbcType="VARCHAR" />
		<result column="agent_name" property="agentName" jdbcType="VARCHAR" />
		<result column="product_code" property="productCode" jdbcType="VARCHAR" />
		<result column="record_card" property="recordCard" jdbcType="VARCHAR" />
		
		
		<result property="cname"  column="cname"/>
		<result property="anotherName"  column="another_name"/>
		<result property="shortPinyin"  column="short_pinyin"/>
		<result property="regCode"  column="Reg_code"/>
		<result property="jyxkCode"  column="jyxk_code"/>
		<result property="nsrsbCode"  column="nsrsb_code"/>
		<result property="kind"  column="kind"/>
	    <result property="legal"  column="legal"/>
		<result property="address"  column="address"/>
		<result property="linkman"  column="linkman"/>
		<result property="contactWay"  column="contact_way"/>
		<result property="contactFax"  column="contact_fax"/>
		<result property="logo" column="logo"/>
		<result property="masterCode" column="master_code"/>   
		<result property="postCode" column="post_code"/>  
		<result property="email" column="email"/>
		<result property="remark" column="remark"/>
		<result property="erpCode" column="erp_code"/>
		<result property="isSupply" column="is_supply"/>
		<result property="isThreeInOne" column="is_three_in_one"/>   
		<result property="flag" column="flag"/>
		<result property="uid" column="uxid"/>
		<result property="fillDate" column="fill_date"/>   
		<result property="lastUpdateDatetime" column="last_update_datetime"/>
		<result property="version" column="version"/>
	</resultMap>  
	
</mapper>