<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gyqx.spdherp.stocInfoMgr.dao.mapper.StocShelfMapper">
	
	<!-- vo类映射 -->
	<resultMap type="gyqx.spdherp.stocInfoMgr.vo.StocShelfVo" id="stocShelfVoMap">
		<id property="id" column="id" />
		<result property="pid" column="pid" />
		<result property="hosId" column="hos_id" />
		<result property="provId" column="prov_id" />
		<result property="areaCode" column="area_code" />
		<result property="areaName" column="area_name" />
		<result property="shelfCode" column="shelf_code" />
		<result property="shelfName" column="shelf_name" />
		<result property="kind" column="kind" />
		<result property="version" column="version"/>
		<result property="code" column="code"/>
		<result property="lastUpdateDatetime" column="last_update_datetime"/>
	</resultMap>
	
	<!-- 查询区位信息 -->
	<select id="getStocArea" parameterType="gyqx.spdherp.stocInfoMgr.vo.StocShelfVo" resultMap="stocShelfVoMap">
		SELECT
			*
		FROM
			stock_shelf s
		WHERE
			s.hos_id = #{hosId}
			<if test="provId != null and provId neq ''">
				AND	s.prov_id = #{provId}
			</if>
			<if test="areaCode != null and areaCode neq ''">
				AND	s.area_code LIKE CONCAT('%',#{areaCode},'%')
			</if>
			AND s.pid is NULL
			AND s.kind = '10'
	</select>
	
	<!-- 查询货位信息 -->
	<select id="getStocShelf" parameterType="gyqx.spdherp.stocInfoMgr.vo.StocShelfVo" resultMap="stocShelfVoMap">
		SELECT
			*
		FROM
			stock_shelf s
		WHERE
			s.hos_id = #{hosId}
			<if test="provId != null and provId neq ''">
				AND	s.prov_id = #{provId}
			</if>
			<if test="pid != null and pid neq ''">
				AND	s.pid = #{pid}
			</if>
			<if test="shelfCode != null and shelfCode neq ''">
				AND s.shelf_code LIKE CONCAT('%',#{shelfCode},'%')
			</if>
			AND s.kind = '20'
	</select>
	
	
	<!-- 更新库位信息 -->
	<update id="updateStocShelf" parameterType="gyqx.spdherp.stocInfoMgr.vo.StocShelfVo">
		update stock_shelf set
		<if test="pid != null and pid neq ''">pid = #{pid},</if>
		<if test="hosId != null and hosId neq ''">hos_id = #{hosId},</if>
		<if test="provId != null and provId neq ''">prov_id=#{provId},</if>
		<if test="areaCode != null and areaCode neq ''">area_code=#{areaCode},</if>
		<if test="shelfCode != null and shelfCode neq ''">shelf_code=#{shelfCode},</if>
		<if test="kind != null and kind neq ''">kind=#{kind},</if>
		version = version + 1,
		<if test="_databaseId == 'mysql'">
			last_update_datetime = sysdate()
		</if>
		<if test="_databaseId == 'oracle'">
			last_update_datetime = sysdate
		</if>
		where id = #{id} and version=#{version}
	</update>
	
	<!-- 新增库位信息 -->
	<insert id="insertStocShelf" parameterType="gyqx.spdherp.stocInfoMgr.vo.StocShelfVo">
		insert into stock_shelf(id,pid,hos_id,prov_id,area_code,shelf_code,kind,version,last_update_datetime) 
		values(#{id}, #{pid}, #{hosId},#{provId},#{areaCode},#{shelfCode},#{kind},1,sysdate());
	</insert>

</mapper>