<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gyqx.spdherp.stocInfoMgr.dao.mapper.StocInfoMapper">
	
	<!-- vo类映射 -->
	<resultMap type="gyqx.spdherp.stocInfoMgr.vo.StocInfoVo" id="stocInfoVoMap">
		<id property="id" column="id" />
		<result property="hosId" column="hos_id" />
		<result property="stocName" column="stoc_name" />
		<result property="stocFzr" column="stoc_fzr" />
		<result property="stocPhone" column="stoc_phone" />
		<result property="deptId" column="dept_id" />
		<result property="stocLevel" column="stoc_level" />
		<result property="shortPinyin" column="short_pinyin" />
		<result property="address" column="address" />
		<result property="memo" column="memo" />
		<result property="code" column="code" />
		<result property="version" column="version"/>
		<result property="deptName" column="deptName"/>
		<result property="lastUpdateDatetime" column="last_update_datetime"/>
	</resultMap>
	
	<!-- 查询所有库存信息 -->
	<select id="queryStocInfo" resultMap="stocInfoVoMap">
		select s.*
		from stoc_info s
		<where>
			<if test="id != null">
				and s.id = #{id}
			</if>
			<if test="hosId != null">
				and s.hos_id = #{hosId}
			</if>
			<if test="stocLevel != null and stocLevel neq ''">
				and s.stoc_level = #{stocLevel}
			</if>
			<if test="stocName != null and stocName neq ''">
				<bind name="stocName" value="'%' + stocName + '%'" />
				and s.stoc_name LIKE #{stocName}
			</if>
			<if test="deptId != null and deptId neq ''">
				and s.dept_id = #{deptId}
			</if>
		</where>
		order by s.id
	</select>
	
	<!-- 查询科室信息 -->
	<select id="getOrgInfo" resultType="gyqx.platform.sys.vo.SysOrgVo">
		select s.id, s.ename, s.cname from sys_org s where s.corp_id = #{corpId}  and s.flag=1
	</select>
	
	<!-- 查询当前库房详情 -->
	<select id="queryStocById" resultMap="stocInfoVoMap">
		SELECT 
			si.*,
			so.cname AS deptName
		FROM 
			stoc_info si
		LEFT JOIN 
			sys_org so
		ON si.dept_id = so.id 
		WHERE 
			si.id = #{id}
	</select>
	
	<!-- 更新库房信息 -->
	<update id="updateStocInfo" parameterType="gyqx.spdherp.stocInfoMgr.vo.StocInfoVo">
		update stoc_info set
		<if test="hosId != null and hosId neq ''">hos_id = #{hosId},</if>
		<if test="stocName != null and stocName neq ''">stoc_name=#{stocName},</if>
		<if test="stocFzr != null and stocFzr neq ''">stoc_fzr=#{stocFzr},</if>
		<if test="stocPhone != null and stocPhone neq ''">stoc_phone=#{stocPhone},</if>
		<if test="deptId != null and deptId neq ''">dept_id=#{deptId},</if>
		<if test="stocLevel != null and stocLevel neq ''">stoc_level=#{stocLevel},</if>
		<if test="shortPinyin != null and shortPinyin neq ''">short_pinyin=#{shortPinyin},</if>
		<if test="address != null and address neq ''">address=#{address},</if>
		<if test="memo != null and memo neq ''">memo=#{memo},</if>
		<if test="code != null and code neq ''">code=#{code},</if>
		version = version + 1,
		<if test="_databaseId == 'mysql'">
			last_update_datetime = sysdate()
		</if>
		<if test="_databaseId == 'oracle'">
			last_update_datetime = sysdate
		</if>
		where id = #{id} and version=#{version}
	</update>
	
	<!-- 插入库房信息 -->
	<insert id="insertStocInfo" parameterType="gyqx.spdherp.stocInfoMgr.vo.StocInfoVo">
		INSERT INTO stoc_info (
			id,
			hos_id,
			stoc_name,
			stoc_fzr,
			stoc_phone,
			dept_id,
			stoc_level,
			short_pinyin,
			address,
			memo,
			CODE,
			version,
			last_update_datetime
		)
		VALUES(#{id}, #{hosId},#{stocName},#{stocFzr},#{stocPhone},#{deptId},#{stocLevel},#{shortPinyin},#{address},#{memo},#{code},1,sysdate());
	</insert>

</mapper>