<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gyqx.spdherp.settleCenter.dao.mapper.IHosOutBalanceMapper">
    <sql id="baseSelect">
        select b.id,b.bill_id,b.spd_code,b.hos_id,b.hos_name,b.hos_erp_code,b.prov_id,b.prov_name,b.prov_erp_code,b.prov_dept_erp_code,
		b.filler,b.fill_date,b.remark,b.sum_row,b.status,b.version,u.ename as fillterName,b.invoice_number,b.invoice_code,b.last_update_datetime,
		b.sale_man,b.settle_amount,b.invoice_amount,b.settle_type
		from hos_out_balance b left join sys_user_org u on b.filler = u.user_id
    </sql>
	<select id="list"  resultMap="hosOutBalanceMap" parameterType="gyqx.spdherp.settleCenter.vo.HosOutBalanceVo">
    	<include refid="baseSelect"></include>
		<where>
			<if test='billId != null'>b.bill_id= #{billId}</if>
			<if test='hosId != null'> and b.hos_id= #{hosId}</if>
			<if test="startDate != null and endDate != null">
				 and b.fill_date BETWEEN #{startDate} AND #{endDate}
			</if>
		</where>
		order by b.id desc
	</select>
	<select id="getById"  resultMap="hosOutBalanceMap" parameterType="gyqx.spdherp.settleCenter.vo.HosOutBalanceVo">
		<include refid="baseSelect"></include>
		<where>
			and b.id = #{id}
		</where>
	</select>
    <select id="getByBillId"  resultMap="hosOutBalanceMap" parameterType="gyqx.spdherp.settleCenter.vo.HosOutBalanceVo">
        <include refid="baseSelect"></include>
        <where>
            and b.bill_id = #{billId}
        </where>
    </select>
 	<resultMap type="gyqx.spdherp.settleCenter.vo.HosOutBalanceVo" id="hosOutBalanceMap">
		<id property="id" column="id"/>
		<result property="billId"  column="bill_id"/>
		<result property="spdCode"  column="spd_code"/>
		<result property="hosId"  column="hos_id"/>
		<result property="hosName"  column="hos_name"/>
		<result property="hosErpCode"  column="hos_erp_code"/>
		<result property="provId"  column="prov_id"/>
		<result property="provName"  column="prov_name"/>
		<result property="provErpCode"  column="prov_erp_code"/>
		<result property="provDeptErpCode"  column="prov_dept_erp_code"/>
		<result property="filler"  column="filler"/>
		<result property="remark"  column="remark"/>
		<result property="sumRow"  column="sum_row"/>
        <result property="status"  column="status"/>
        <result property="fillDate"  column="fill_date"/>
		<result property="version"  column="version"/>
		<result property="saleMan"  column="sale_man"/>
		<result property="invoiceNumber"  column="invoice_number"/>
		<result property="invoiceCode"  column="invoice_code"/>
		<result property="settleType"  column="settle_type"/>
		<result property="lastUpdateDatetime"  column="last_update_datetime"/>
		<collection property="lstDetail" ofType="hosOutBalanceDetailMap" select="subList" column="{pid=id}"/>
	</resultMap>
	<sql id="baseSubSelect">
		select hobd.id,hobd.pid,hobd.bill_id,hobd.row_num,hobd.prov_id,hobd.prov_name,hobd.prov_erp_code,hobd.out_dept_id,
		hobd.out_dept_name,hobd.out_dept_erp_code,hobd.out_billid, hobd.out_row_num,hobd.out_date,hobd.hos_goods_id,
		hobd.hos_goods_name,hobd.goods_gg,hobd.mfrs_id,hobd.made,hobd.packet_code,hobd.prov_goods_id,hobd.prov_goods_name,
		hobd.batch_id,hobd.batch_code,hobd.sterilization_code,hobd.expdt_end_date,hobd.produce_datetime,hobd.hos_unit,
		hobd.hos_unit_qty,hobd.prov_unit,hobd.hos_scale,hobd.prov_unit_qty,hobd.status,hobd.out_kind,hobd.version,hobd.sale_man,
		hobd.invoice_number,hobd.invoice_code,hobd.last_update_datetime ,hobd.sub_prov_name ,hobd.sub_prov_id ,
		hobd.purchase_price ,hobd.price ,
		hobd.goods_erp_code ,hobd.settle_qty ,bmi.mfrs_name from hos_out_balance_detail hobd left join bas_mfrs_info bmi on bmi.id = hobd.mfrs_id
	</sql>
	<resultMap type="gyqx.spdherp.settleCenter.vo.HosOutBalanceDetailVo" id="hosOutBalanceDetailMap">
		<id property="id" column="id"/>
		<result property="pid"  column="pid"/>
		<result property="billId"  column="bill_id"/>
		<result property="rowNum"  column="row_num"/>
		<result property="provId"  column="prov_id"/>
		<result property="provName"  column="prov_name"/>
		<result property="provErpCode"  column="prov_erp_code"/>
		<result property="outDeptId"  column="out_dept_id"/>
		<result property="outDeptName"  column="out_dept_name"/>
		<result property="outDeptErpCode"  column="out_dept_erp_code"/>
		<result property="outBillid"  column="out_billid"/>
		<result property="outRowNum"  column="out_row_num"/>
		<result property="outDate"  column="out_date"/>
		<result property="hosGoodsId"  column="hos_goods_id"/>
		<result property="hosGoodsName"  column="hos_goods_name"/>
		<result property="goodsGg"  column="goods_gg"/>
		<result property="mfrsId"  column="mfrs_id"/>
		<result property="made"  column="made"/>
		<result property="packetCode"  column="packet_code"/>
		<result property="provGoodsId"  column="prov_goods_id"/>
		<result property="provGoodsName"  column="prov_goods_name"/>
		<result property="batchId"  column="batch_id"/>
		<result property="batchCode"  column="batch_code"/>
		<result property="sterilizationCode"  column="sterilization_code"/>
		<result property="expdtEndDate"  column="expdt_end_date"/>
		<result property="produceDatetime"  column="produce_datetime"/>
		<result property="hosUnit"  column="hos_unit"/>
		<result property="hosUnitQty"  column="hos_unit_qty"/>
		<result property="provUnit"  column="prov_unit"/>
		<result property="hosScale"  column="hos_scale"/>
		<result property="provUnitQty"  column="prov_unit_qty"/>
		<result property="status" column="status"/>
		<result property="outKind"  column="out_kind"/>
		<result property="version"  column="version"/>
		<result property="saleMan"  column="sale_man"/>
		<result property="invoiceNumber"  column="invoice_number"/>
		<result property="invoiceCode"  column="invoice_code"/>
		<result property="settleAmount"  column="settle_amount"/>
		<result property="invoiceAmount"  column="invoice_amount"/>
		<result property="goodsErpCode"  column="goods_erp_code"/>
		<result property="settleQty"  column="settle_qty"/>
		<result property="mfrsName"  column="mfrs_name"/>
		<result property="subProvName"  column="sub_prov_name"/>
		<result property="subProvId"  column="sub_prov_id"/>
		<result property="price"  column="price"/>
		<result property="purPrice"  column="purchase_price"/>
		<result property="lastUpdateDatetime"  column="last_update_datetime"/>
	</resultMap>
	<select id="subList"  resultMap="hosOutBalanceDetailMap" parameterType="gyqx.spdherp.settleCenter.vo.HosOutBalanceDetailVo">
		<include refid="baseSubSelect"></include>
		<where>
			<if test='pid != null'>
				and pid = #{pid}
				order by row_num
			</if>
		</where>
	</select>

	<update id="update" parameterType="gyqx.spdherp.settleCenter.vo.HosOutBalanceVo" >
		update hos_out_balance
		<set>
			<if test='billId != null'>bill_id = #{billId},</if>
			<if test='spdCode != null'>spd_code = #{spdCode},</if>
			<if test='hosId != null'>hos_id = #{hosId},</if>
			<if test='hosName != null'>hos_name = #{hosName},</if>
			<if test='hosErpCode != null'>hos_erp_code = #{hosErpCode},</if>
			<if test='provId != null'>prov_id = #{provId},</if>
			<if test='provName != null'>prov_name = #{provName},</if>
			<if test='provErpCode != null'>prov_erp_code = #{provErpCode},</if>
			<if test='provDeptErpCode != null'>prov_dept_erp_code = #{provDeptErpCode},</if>
			<if test='filler != null'>filler = #{filler},</if>
			<if test='remark != null'>remark = #{remark},</if>
			<if test='sumRow != null'>sum_row = #{sumRow},</if>
			<if test='status != null'>status = #{status},</if>
			<if test='invoiceNumber != null'>invoice_number = #{invoiceNumber},</if>
			<if test='invoiceCode != null'>invoice_code = #{invoiceCode},</if>
            <if test='fillDate != null'>fill_date = #{fillDate},</if>
			<if test='settleAmount != null'>settle_amount = #{settleAmount},</if>
			<if test='invoiceAmount != null'>invoice_amount = #{invoiceAmount},</if>
			version=version+1,
			<if test="_databaseId == 'mysql'">
				last_update_datetime = sysdate(),
			</if>
			<if test="_databaseId == 'oracle'">
				last_update_datetime = sysdate,
			</if>
		</set>
		<where>
			and id = #{id}
			and version= #{version}
		</where>
	</update>
	
	<insert id="insert" parameterType="gyqx.spdherp.settleCenter.vo.HosOutBalanceVo" >
		insert into hos_out_balance 
		( id , bill_id , spd_code , hos_id , hos_name , hos_erp_code , prov_id , prov_name , prov_erp_code ,
		prov_dept_erp_code , filler,fill_date , remark , sum_row ,status, version,sale_man,invoice_number,
		invoice_code,settle_amount,invoice_amount,last_update_datetime ,settle_type )
		values
		(#{id},#{billId},#{spdCode},#{hosId},#{hosName},#{hosErpCode},#{provId},#{provName},#{provErpCode},
		#{provDeptErpCode},#{filler},#{fillDate},#{remark},#{sumRow},#{status},1,#{saleMan},#{invoiceNumber},
		#{invoiceCode},#{settleAmount},#{invoiceAmount},sysdate(),#{settleType})
	</insert>
	<delete id="delById" parameterType="java.lang.String">
		DELETE FROM
		hos_out_balance
		WHERE id=#{id}
	</delete>
	
	<select id="getSettleSubProvList" parameterType="gyqx.spdherp.stockout.vo.vo4In.Out4Settle" resultType="gyqx.platform.po.SysOrg">
		SELECT DISTINCT
			dist.sub_prov_id AS id,
			bci.cname 
		FROM
			in_stock_batch isb
			LEFT JOIN in_stock os ON os.id = isb.bill_id
			LEFT JOIN in_stock_list osl ON osl.bill_id = isb.bill_id 
			AND isb.goods_id = osl.goods_id 
			AND isb.p_row_id = osl.in_bill_row
			LEFT JOIN distr_bill dist ON dist.bill_id = isb.goods_batch_id
			LEFT JOIN bas_company_info bci ON bci.id = dist.sub_prov_id 
		WHERE
			os.in_stock_kind = 2 
			AND os.`status` = 40 
			AND osl.state &lt; 10 
			AND osl.prov_id = #{colId}
			AND os.in_org_id = #{hosId}
			<if test="toJdeProvIds !=null and toJdeProvIds.length >0">
				AND dist.sub_prov_id NOT in
				<foreach item="item" index="index" collection="toJdeProvIds" open="("
						 separator="," close=")">
					#{item}
				</foreach>
			</if>
	</select>
	
	<select id="getExportData"  resultMap="hosOutBalanceDetailMap" parameterType="gyqx.spdherp.settleCenter.vo.HosOutBalanceDetailVo">
		<include refid="baseSubSelect"></include>
		<where>
			<if test="startDate != null and endDate != null">
	           AND EXISTS ( SELECT * FROM hos_out_balance hob WHERE hob.id = hobd.pid 
	           and hob.fill_date BETWEEN #{startDate} AND #{endDate}
	           	<if test='settleType != null and settleType>0'  >
					AND hob.settle_type = #{settleType}
				</if>
				<if test='status != null and status>0'>
					AND hob.`status` = #{status}
				</if>
				<if test="hosId !=null and hosId !=''">
				 AND hob.hos_id = #{hosId}
			    </if>
	           )
	        </if>
		</where>
		ORDER BY hobd.bill_id ,hobd.row_num
	</select>
</mapper>