<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gyqx.spdhdi.collector4orderMgr.dao.mapper.IHosCollectorMapper"> 
<!-- parameterType传入参数类型     resultMap=自己定义的一个返回类型     resultType返回类型 -->
	<select id="list"  resultMap="hosCollectorMap" parameterType="gyqx.spdherp.po.HosCollector">
		<![CDATA[
		select id,hos_id,prov_id,version from hos_collector
		]]>
		<where>
			and id = #{id}
		</where>
	</select>
 	<resultMap type="gyqx.spdherp.po.HosCollector" id="hosCollectorMap">
		<id property="id" column="id"/>
		<result property="hosId"  column="hos_id"/>
		<result property="provId"  column="prov_id"/>
		<result property="version"  column="version"/>
	</resultMap> 
	
	<update id="update" parameterType="gyqx.spdherp.po.HosCollector" >
		update hos_collector
		<set>
			<if test='hosId != null'>  
				hos_id = #{hosId},
			</if> 
			<if test='provId != null'>  
				prov_id = #{provId},
			</if> 
			version=version+1,
		</set>
		<where>
			and id = #{id}
			and version= #{version}
		</where>
	</update>
	
	<insert id="insert" parameterType="gyqx.spdherp.po.HosCollector" >
		insert into hos_collector 
		( id , hos_id , prov_id , version  )
		values (#{id},#{hosId},#{provId},#{version})
	</insert>
</mapper>