<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gyqx.spdhdi.collector4orderMgr.dao.mapper.IHosCollectorProvMapper"> 
<!-- parameterType传入参数类型     resultMap=自己定义的一个返回类型     resultType返回类型 -->
	<select id="list"  resultMap="hosCollectorProvMap" parameterType="gyqx.spdherp.po.HosCollectorProv">
		<![CDATA[
		select id,hos_id,collector_id,prov_id,kind,version from hos_collector_prov
		]]>
		<where>
			and id = #{id}
		</where>
	</select>
	<select id="listVo" resultMap="hosCollectorProvVoMap" parameterType="gyqx.spdhdi.collector4orderMgr.vo.HosCollectorProvVo">
		select hcp.id,hcp.hos_id,hcp.collector_id,hcp.prov_id,hcp.kind,hcp.version,
		        h.cname as hosName,
			    c.cname as collectorName,
		        p.cname as provName
		from hos_collector_prov hcp 
			    LEFT JOIN bas_company_info h on h.id=hcp.hos_id
			    LEFT JOIN bas_company_info c on c.id=hcp.collector_id
			    LEFT JOIN bas_company_info p on p.id= hcp.prov_id
	    <where>
	       <if test="hosId != null and hosId!=''">and hcp.hos_id=#{hosId}</if>
	        <if test="userId != null and userId!=''">
	        	and hcp.hos_id in (select hos_id from user_hos where user_id = #{userId})
	        </if>
		   <if test="collectorId != null and collectorId!=''">and hcp.collector_id=#{collectorId}</if>
		   <if test="provId != null and provId !=''">and hcp.prov_id=#{provId}</if>	      
		   <if test="kind != null and kind !=0">and hcp.kind=#{kind}</if>	       
		    
	    </where>
	</select>
	
	
 	<resultMap type="gyqx.spdherp.po.HosCollectorProv" id="hosCollectorProvMap">
		<id property="id" column="id"/>
		<result property="hosId"  column="hos_id"/>
		<result property="collectorId"  column="collector_id"/>
		<result property="provId"  column="prov_id"/>
		<result property="kind"  column="kind"/>
		<result property="version"  column="version"/>
	</resultMap> 
	<resultMap type="gyqx.spdhdi.collector4orderMgr.vo.HosCollectorProvVo" id="hosCollectorProvVoMap" extends="hosCollectorProvMap">
			<result property="hosName"  column="hosName"/>
			<result property="collectorName"  column="collectorName"/>
			<result property="provName"  column="provName"/>
	</resultMap>
	<update id="update" parameterType="gyqx.spdherp.po.HosCollectorProv" >
		update hos_collector_prov
		<set>
			<if test='hosId != null'>  
				hos_id = #{hosId},
			</if> 
			<if test='collectorId != null'>  
				collector_id = #{collectorId},
			</if> 
			<if test='provId != null'>  
				prov_id = #{provId},
			</if> 
			<if test='kind != null'>  
				kind = #{kind},
			</if> 
			version=version+1,
		</set>
		<where>
			and id = #{id}
			and version= #{version}
		</where>
	</update>
	
	<insert id="insert" parameterType="gyqx.spdherp.po.HosCollectorProv" >
		insert into hos_collector_prov 
		( id , hos_id , collector_id , prov_id , kind , version  )
		values (#{id},#{hosId},#{collectorId},#{provId},#{kind},#{version})
	</insert>
</mapper>