<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gyqx.spdherp.deptMgr.dao.mapper.IApplyAuditRelMapper"> 
<!-- parameterType传入参数类型     resultMap=自己定义的一个返回类型     resultType返回类型 -->
	<select id="list"  resultMap="applyAuditRelMap" parameterType="gyqx.spdherp.po.ApplyAuditRel">
		<![CDATA[
		select id,user_id,pur_mode,last_update_datetime,version from apply_audit_rel
		]]>
		<where>
			<if test='userId != null'>  
				user_id = #{userId}
			</if> 
		</where>
	</select>
 	<resultMap type="gyqx.spdherp.po.ApplyAuditRel" id="applyAuditRelMap">
		<id property="id" column="id"/>
		<result property="userId"  column="user_id"/>
		<result property="purMode"  column="pur_mode"/>
		<result property="lastUpdateDatetime"  column="last_update_datetime"/>
		<result property="version"  column="version"/>
	</resultMap> 
	
	<update id="update" parameterType="gyqx.spdherp.po.ApplyAuditRel" >
		update apply_audit_rel
		<set>
			<if test='userId != null'>  
				user_id = #{userId},
			</if> 
			<if test='purMode != null'>  
				pur_mode = #{purMode},
			</if> 
			<if test='lastUpdateDatetime != null'>  
				last_update_datetime = #{lastUpdateDatetime},
			</if> 
			version=version+1,
		</set>
		<where>
			and id = #{id}
			and version= #{version}
		</where>
	</update>
	
	<insert id="insert" parameterType="gyqx.spdherp.po.ApplyAuditRel" >
		insert into apply_audit_rel 
		( id , user_id , pur_mode , last_update_datetime , version  )
		values (#{id},#{userId},#{purMode},#{lastUpdateDatetime},#{version})
	</insert>
	
	<delete id="delete" parameterType="String" >
	
		delete from apply_audit_rel where user_id =#{userId}
	</delete>
	
</mapper>