<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gyqx.spdhdi.orderMgr.dao.mapper.IDistrBillListMapper">
	<sql id="baseSelect">
<![CDATA[
		SELECT
			dl.id,dl.pid,  dl.bill_id,dl.row_number, dl.purconfirm_bill_id, dl.purconfirm_row_number, dl.pur_bill_id,
		    dl.pur_row_number, dl.pur_bill_date, dl.apply_bill_id,dl.sale_bill_id, dl.delivery_date,dl.prov_goods_id,
		    dl.goods_gg, dl.goods_mrfs_id,dl.made,dl.hos_goods_id, dl.hos_goods_code, dl.hos_goods_name,
		    dl.prov_goods_erp_code,dl.prov_goods_erp_name, dl.batch_num, dl.is_unique_code, dl.batch_code,
		    dl.sterilization_code, dl.sterilization_end_date, dl.sterilization_date, dl.expdt_end_date,dl.receive_qty,
		    dl.rejected_qty_unit, dl.rejected_qty,dl.product_date, dl.send_unit,dl.send_scale, dl.send_qty,
		    dl.send_price,dl.sub_send_price,dl.hos_unit, dl.hos_qty,dl.hos_price,dl.out_storearea, dl.out_kind,
		    dl.sum_row,	dl.memo, dl.barcode, dl.packet_code,dl.certificate_code, dl.source_data,
		    dl.is_exchange,	dl.send_temprature, dl.send_humidity, dl.version,dl.status, dl.unique_kind,v.hit_code as  hit_code,v.mfrs_name as goods_mrfs_name,
		  ]]>
				COALESCE(cd.can_send_qty,0) can_send_qty,
				COALESCE(pgi.pur_price,0) pur_price,
				COALESCE(pgi.sale_price,0) sale_price
  <![CDATA[         
		FROM
		    distr_bill_list dl
		LEFT JOIN distr_bill d on dl.pid= d.id
	    LEFT JOIN v_pro_hos_goodsinfo v on d.purchase_company_id = v.hos_id and v.prov_id = d.prov_id and dl.hos_goods_id = v.id
		
		left join prov_goods_hos pgi on dl.prov_goods_id = pgi.prov_goodsid	and d.prov_id = pgi.prov_id and d.purchase_company_id = pgi.hos_id  and v.his_code = pgi.his_code
		left join (
            select pc.pid,pc.row_number,
        ]]> 
            
             <if test="_databaseId == 'mysql'">
                  pc.pur_qty-if(yf.send_qty,yf.send_qty,0) as can_send_qty
            </if>
			<if test="_databaseId == 'oracle'">
              pc.pur_qty -decode(yf.send_qty, null, 0) AS can_send_qty
            </if>
      <![CDATA[              
              from purconfirm_list pc 
            left join (
            select nd.purconfirm_bill_id,nd.purconfirm_row_number,sum(nd.send_qty) send_qty from distr_bill_list nd 
            inner join distr_bill db on nd.pid = db.id where db.status >='20' and db.status <='40'
            group by nd.purconfirm_bill_id,nd.purconfirm_row_number) yf on pc.pid=yf.purconfirm_bill_id and pc.row_number = yf.purconfirm_row_number
		) cd on dl.purconfirm_bill_id = cd.pid and dl.purconfirm_row_number = cd.row_number
		      ]]> 
	</sql>
	<select id="list" resultMap="distrBillListMap"
		parameterType="gyqx.spdhdi.orderMgr.vo.DistrBillListVo">
		<include refid="baseSelect"></include>
		<where>
			<if test='billId != null and billId !=""'>
				and dl.bill_id = #{billId}
			</if>
			<if test='pid != null and pid !=""'>
				and dl.pid = #{pid}
			</if>
		</where>
		ORDER BY row_number
	</select>
	<select id="get" resultMap="distrBillListMap" parameterType="java.lang.String">
		<include refid="baseSelect"></include>
		<where>
			<if test='id != null and id !=""'>
				and dl.id = #{id}
			</if>
		</where>

		ORDER BY row_number
	</select>
	<resultMap type="gyqx.spdhdi.orderMgr.vo.DistrBillListVo" id="distrBillListMap">
		<id property="id" column="id" />
		<result property="pid" column="pid" />
		<result property="billId" column="bill_id" />
		<result property="rowNumber" column="row_number" />
		<result property="purconfirmBillId" column="purconfirm_bill_id" />
		<result property="purconfirmRowNumber" column="purconfirm_row_number" />
		<result property="purBillId" column="pur_bill_id" />
		<result property="purRowNumber" column="pur_row_number" />
		<result property="purBillDate" column="pur_bill_date" />
		<result property="applyBillId" column="apply_bill_id" />
		<result property="saleBillId" column="sale_bill_id" />
		<result property="deliveryDate" column="delivery_date" />
		<result property="provGoodsId" column="prov_goods_id" />
		<result property="goodsGg" column="goods_gg" />
		<result property="goodsMrfsId" column="goods_mrfs_id" />
		<result property="made" column="made" />
		<result property="hosGoodsId" column="hos_goods_id" />
		<result property="hosGoodsCode" column="hos_goods_code" />
		<result property="hosGoodsName" column="hos_goods_name" />
		<result property="provGoodsErpCode" column="prov_goods_erp_code" />
		<result property="provGoodsErpName" column="prov_goods_erp_name" />
		<result property="batchNum" column="batch_num" />
		<result property="isUniqueCode" column="is_unique_code" />
		<result property="batchCode" column="batch_code" />
		<result property="certificateCode" column="certificate_code" />
		<result property="sterilizationCode" column="sterilization_code" />
		<result property="sterilizationEndDate" column="sterilization_end_date" />
		<result property="sterilizationDate" column="sterilization_date" />
		<result property="expdtEndDate" column="expdt_end_date" />
		<result property="productDate" column="product_date" />
		<result property="sendUnit" column="send_unit" />
		<result property="sendScale" column="send_scale" />
		<result property="sendQty" column="send_qty" />
		<result property="receiveQty" column="receive_qty" />
		<result property="rejectedQtyUnit" column="rejected_qty_unit" />
		<result property="rejectedQty" column="rejected_qty" />
		<result property="sendPrice" column="send_price" />
		<result property="hosUnit" column="hos_unit" />
		<result property="hosQty" column="hos_qty" />
		<result property="hosPrice" column="hos_price" />
		<result property="outStorearea" column="out_storearea" />
		<result property="outKind" column="out_kind" />
		<result property="sumRow" column="sum_row" />
		<result property="memo" column="memo" />
		<result property="barcode" column="barcode" />
		<result property="packetCode" column="packet_code" />
		<result property="sourceData" column="source_data" />
		<result property="isExchange" column="is_exchange" />
		<result property="sendTemprature" column="send_temprature" />
		<result property="sendHumidity" column="send_humidity" />
		<result property="version" column="version" />
		<result property="status" column="status" />
		<result property="uniqueKind" column="unique_kind" />
		<result property="canSendQty" column="can_send_qty" />
		<result property="subSendPrice" column="sub_send_price" />
		<result property="purPrice" column="pur_price" />
		<result property="salePrice" column="sale_price" />
		<result property="hitCode" column="hit_code" />
		<result property="goodsMrfsName" column="goods_mrfs_name" />
	</resultMap>
	<insert id="insertBatch" parameterType="java.util.List" databaseId="mysql">
		insert into distr_bill_list
		(id,pid,bill_id,row_number,purconfirm_bill_id,purconfirm_row_number,pur_bill_id,pur_row_number,
		pur_bill_date,apply_bill_id,sale_bill_id,delivery_date,prov_goods_id,goods_gg,goods_mrfs_id,made,hos_goods_id,
		hos_goods_code,hos_goods_name,prov_goods_erp_code,prov_goods_erp_name,batch_num,is_unique_code,batch_code,
		sterilization_code,sterilization_end_date,sterilization_date,expdt_end_date,product_date,send_unit,send_scale,send_qty,receive_qty,rejected_qty,rejected_qty_unit,send_price,sub_send_price,hos_unit,hos_qty,
		hos_price,out_storearea,out_kind,sum_row,memo,barcode,packet_code,certificate_code,source_data,is_exchange,
		send_temprature,send_humidity,version,status,unique_kind, last_update_datetime,transport_type)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.id},#{item.pid},#{item.billId},#{item.rowNumber},#{item.purconfirmBillId},#{item.purconfirmRowNumber},
			#{item.purBillId},#{item.purRowNumber},#{item.purBillDate},
			#{item.applyBillId},#{item.saleBillId},#{item.deliveryDate},#{item.provGoodsId},#{item.goodsGg},#{item.goodsMrfsId},
			#{item.made},#{item.hosGoodsId},#{item.hosGoodsCode},
			#{item.hosGoodsName},#{item.provGoodsErpCode},#{item.provGoodsErpName},#{item.batchNum},#{item.isUniqueCode},
			#{item.batchCode},#{item.sterilizationCode},#{item.sterilizationEndDate},#{item.sterilizationDate},#{item.expdtEndDate},
			#{item.productDate},#{item.sendUnit},#{item.sendScale},#{item.sendQty},#{item.receiveQty},#{item.rejectedQty},#{item.rejectedQtyUnit},
			#{item.sendPrice},#{item.subSendPrice},#{item.hosUnit}, #{item.hosQty},
			#{item.hosPrice},#{item.outStorearea},
			#{item.outKind},
			#{item.sumRow},#{item.memo},#{item.barcode},#{item.packetCode},#{item.certificateCode},
			#{item.sourceData},#{item.isExchange},#{item.sendTemprature},#{item.sendHumidity},1,#{item.status},#{item.uniqueKind},sysdate(),#{item.transportType}	)
		</foreach>
	</insert>
	<insert id="insertBatch" parameterType="java.util.List" databaseId="oracle">
		insert into distr_bill_list
		(id,pid,bill_id,row_number,purconfirm_bill_id,purconfirm_row_number,pur_bill_id,pur_row_number,
		pur_bill_date,apply_bill_id,sale_bill_id,delivery_date,prov_goods_id,goods_gg,goods_mrfs_id,made,hos_goods_id,
		hos_goods_code,hos_goods_name,prov_goods_erp_code,prov_goods_erp_name,batch_num,is_unique_code,batch_code,
		sterilization_code,sterilization_end_date,sterilization_date,expdt_end_date,product_date,send_unit,send_scale,send_qty,
		receive_qty,rejected_qty,rejected_qty_unit,send_price,sub_send_price,hos_unit,hos_qty,
		hos_price,out_storearea,out_kind,sum_row,memo,barcode,packet_code,certificate_code,source_data,is_exchange,send_temprature,send_humidity,version,status,unique_kind, transport_type,last_update_datetime)
		<foreach collection="list" item="item" index="index"
			separator="union all">
			(select #{item.id},#{item.pid},#{item.billId},#{item.rowNumber},#{item.purconfirmBillId},#{item.purconfirmRowNumber},
			#{item.purBillId},#{item.purRowNumber},#{item.purBillDate},
			#{item.applyBillId},#{item.saleBillId},#{item.deliveryDate},#{item.provGoodsId},#{item.goodsGg},#{item.goodsMrfsId},
			#{item.made},#{item.hosGoodsId},#{item.hosGoodsCode},
			#{item.hosGoodsName},#{item.provGoodsErpCode},#{item.provGoodsErpName},#{item.batchNum},#{item.isUniqueCode},
			#{item.batchCode},#{item.sterilizationCode},#{item.sterilizationEndDate},#{item.sterilizationDate},#{item.expdtEndDate},
			#{item.productDate},#{item.sendUnit},#{item.sendScale},#{item.sendQty},#{item.receiveQty},#{item.rejectedQty},#{item.rejectedQtyUnit},
			#{item.sendPrice},#{item.subSendPrice},#{item.hosUnit}, #{item.hosQty},
			#{item.hosPrice},#{item.outStorearea},
			#{item.outKind},
			#{item.sumRow},#{item.memo},#{item.barcode},#{item.packetCode},#{item.certificateCode},
			#{item.sourceData},#{item.isExchange},#{item.sendTemprature},#{item.sendHumidity},1,#{item.status},#{item.uniqueKind},#{item.transportType}, sysdate from dual
			)
		</foreach>
	</insert>
	<update id="update" parameterType="gyqx.spdhdi.orderMgr.vo.DistrBillListVo">
		update distr_bill_list
		<set>
			<if test='pid != null'>
				pid = #{pid},
			</if>
			<if test='billId != null'>
				bill_id = #{billId},
			</if>
			<if test='rowNumber != null'>
				row_number = #{rowNumber},
			</if>
			<if test='purconfirmBillId != null'>
				purconfirm_bill_id = #{purconfirmBillId},
			</if>
			<if test='purconfirmRowNumber != null'>
				purconfirm_row_number = #{purconfirmRowNumber},
			</if>
			<if test='purBillId != null'>
				pur_bill_id = #{purBillId},
			</if>
			<if test='purRowNumber != null'>
				pur_row_number = #{purRowNumber},
			</if>
			<if test='purBillDate != null'>
				pur_bill_date = #{purBillDate},
			</if>
			<if test='applyBillId != null'>
				apply_bill_id = #{applyBillId},
			</if>
			<if test='saleBillId != null'>
				sale_bill_id = #{saleBillId},
			</if>
			<if test='deliveryDate != null'>
				delivery_date = #{deliveryDate},
			</if>
			<if test='provGoodsId != null'>
				prov_goods_id = #{provGoodsId},
			</if>
			<if test='goodsGg != null'>
				goods_gg = #{goodsGg},
			</if>
			<if test='goodsMrfsId != null'>
				goods_mrfs_id = #{goodsMrfsId},
			</if>
			<if test='made != null'>
				made = #{made},
			</if>
			<if test='hosGoodsId != null'>
				hos_goods_id = #{hosGoodsId},
			</if>
			<if test='hosGoodsCode != null'>
				hos_goods_code = #{hosGoodsCode},
			</if>
			<if test='hosGoodsName != null'>
				hos_goods_name = #{hosGoodsName},
			</if>
			<if test='provGoodsErpCode != null'>
				prov_goods_erp_code = #{provGoodsErpCode},
			</if>
			<if test='provGoodsErpName != null'>
				prov_goods_erp_name = #{provGoodsErpName},
			</if>
			<if test='batchNum != null'>
				batch_num = #{batchNum},
			</if>
			<if test='isUniqueCode != null'>
				is_unique_code = #{isUniqueCode},
			</if>
			<if test='batchCode != null'>
				batch_code = #{batchCode},
			</if>
			
			<if test='sterilizationCode != null'>
				sterilization_code = #{sterilizationCode},
			</if>
			<if test='certificateCode != null'>
				certificate_code = #{certificateCode},
			</if>
			<if test='sterilizationEndDate != null'>
				sterilization_end_date = #{sterilizationEndDate},
			</if>
			<if test='sterilizationDate != null'>
				sterilization_date = #{sterilizationDate},
			</if>
			<if test='expdtEndDate != null'>
				expdt_end_date = #{expdtEndDate},
			</if>
			<if test='productDate != null'>
				product_date = #{productDate},
			</if>
			<if test='sendUnit != null'>
				send_unit = #{sendUnit},
			</if>
			<if test='sendScale != null'>
				send_scale = #{sendScale},
			</if>
			<if test='sendQty != null'>
				send_qty = #{sendQty},
			</if>
			<if test='receiveQty != null'>
				receive_qty = #{receiveQty},
			</if>
			<if test='sendPrice != null'>
				send_price = #{sendPrice},
			</if>
			<if test='subSendPrice != null'>
				sub_send_price = #{subSendPrice},
			</if>
			<if test='hosUnit != null'>
				hos_unit = #{hosUnit},
			</if>
			<if test='hosQty != null'>
				hos_qty = #{hosQty},
			</if>
			<if test='hosPrice != null'>
				hos_price = #{hosPrice},
			</if>
			<if test='outStorearea != null'>
				out_storearea = #{outStorearea},
			</if>
			<if test='outKind != null'>
				out_kind = #{outKind},
			</if>
			<if test='sumRow != null'>
				sum_row = #{sumRow},
			</if>
			<if test='memo != null'>
				memo = #{memo},
			</if>
			<if test='barcode != null'>
				barcode = #{barcode},
			</if>
			<if test='packetCode != null'>
				packet_code = #{packetCode},
			</if>
			<if test='sourceData != null'>
				source_data = #{sourceData},
			</if>
			<if test='isExchange != null'>
				is_exchange = #{isExchange},
			</if>
			<if test='sendTemprature != null'>
				send_temprature = #{sendTemprature},
			</if>
			<if test='sendHumidity != null'>
				send_humidity = #{sendHumidity},
			</if>
			<if test='status != null'>
				status = #{status},
			</if>
			<if test='rejectedQtyUnit != null'>
				rejected_qty_unit = #{rejectedQtyUnit},
			</if>
			<if test='rejectedQty != null'>
				rejected_qty = #{rejectedQty},
			</if>
			<if test='uniqueKind != null'>
				unique_kind = #{uniqueKind},
			</if>
			<if test="_databaseId == 'mysql'">
				last_update_datetime = sysdate(),
			</if>
			<if test="_databaseId == 'oracle'">
				last_update_datetime = sysdate,
			</if>
			version=version+1,
		</set>
		<where>
			and id = #{id}
			and version= #{version}
		</where>
	</update>
	<update id="updateByBatch" parameterType="java.util.List" databaseId="mysql">
		<foreach collection="list" item="item" index="index" open=""
			close="" separator=";">
			update distr_bill_list
			<set>
				<if test='item.pid != null'>
					pid = #{item.pid},
				</if>
				<if test='item.billId != null'>
					bill_id = #{item.billId},
				</if>
				<if test='item.rowNumber != null'>
					row_number = #{item.rowNumber},
				</if>
				<if test='item.purconfirmBillId != null'>
					purconfirm_bill_id = #{item.purconfirmBillId},
				</if>
				<if test='item.purconfirmRowNumber != null'>
					purconfirm_row_number = #{item.purconfirmRowNumber},
				</if>
				<if test='item.purBillId != null'>
					pur_bill_id = #{item.purBillId},
				</if>
				<if test='item.purRowNumber != null'>
					pur_row_number = #{item.purRowNumber},
				</if>
				<if test='item.purBillDate != null'>
					pur_bill_date = #{item.purBillDate},
				</if>
				<if test='item.applyBillId != null'>
					apply_bill_id = #{item.applyBillId},
				</if>
				<if test='item.saleBillId != null'>
					sale_bill_id = #{item.saleBillId},
				</if>
				<if test='item.deliveryDate != null'>
					delivery_date = #{item.deliveryDate},
				</if>
				<if test='item.provGoodsId != null'>
					prov_goods_id = #{item.provGoodsId},
				</if>
				<if test='item.goodsGg != null'>
					goods_gg = #{item.goodsGg},
				</if>
				<if test='item.goodsMrfsId != null'>
					goods_mrfs_id = #{item.goodsMrfsId},
				</if>
				<if test='item.made != null'>
					made = #{item.made},
				</if>
				<if test='item.hosGoodsId != null'>
					hos_goods_id = #{item.hosGoodsId},
				</if>
				<if test='item.hosGoodsCode != null'>
					hos_goods_code = #{item.hosGoodsCode},
				</if>
				<if test='item.hosGoodsName != null'>
					hos_goods_name = #{item.hosGoodsName},
				</if>
				<if test='item.provGoodsErpCode != null'>
					prov_goods_erp_code = #{item.provGoodsErpCode},
				</if>
				<if test='item.provGoodsErpName != null'>
					prov_goods_erp_name = #{item.provGoodsErpName},
				</if>
				<if test='item.batchNum != null'>
					batch_num = #{item.batchNum},
				</if>
				<if test='item.isUniqueCode != null'>
					is_unique_code = #{item.isUniqueCode},
				</if>
				<if test='item.batchCode != null'>
					batch_code = #{item.batchCode},
				</if>
				<if test='item.sterilizationCode != null'> 
					sterilization_code = #{item.sterilizationCode},
				</if>
				<if test='item.certificateCode != null'> 
					certificate_code = #{item.certificateCode},
				</if>
				<if test='item.sterilizationEndDate != null'>
					sterilization_end_date = #{item.sterilizationEndDate},
				</if>
				<if test='item.sterilizationDate != null'>
					sterilization_date = #{item.sterilizationDate},
				</if>
				<if test='item.expdtEndDate != null'>
					expdt_end_date = #{item.expdtEndDate},
				</if>
				<if test='item.productDate != null'>
					product_date = #{item.productDate},
				</if>
				<if test='item.sendUnit != null'>
					send_unit = #{item.sendUnit},
				</if>
				<if test='item.sendScale != null'>
					send_scale = #{item.sendScale},
				</if>
				<if test='item.sendQty != null'>
					send_qty = #{item.sendQty},
				</if>
				<if test='item.receiveQty != null'>
					receive_qty = #{item.receiveQty},
				</if>
				<if test='item.sendPrice != null'>
					send_price = #{item.sendPrice},
				</if>
				<if test='item.subSendPrice != null'>
					sub_send_price = #{item.subSendPrice},
				</if>
				<if test='item.hosUnit != null'>
					hos_unit = #{item.hosUnit},
				</if>
				<if test='item.hosQty != null'>
					hos_qty = #{item.hosQty},
				</if>
				<if test='item.hosPrice != null'>
					hos_price = #{item.hosPrice},
				</if>
				<if test='item.outStorearea != null'>
					out_storearea = #{item.outStorearea},
				</if>
				<if test='item.outKind != null'>
					out_kind = #{item.outKind},
				</if>
				<if test='item.sumRow != null'>
					sum_row = #{item.sumRow},
				</if>
				<if test='item.memo != null'>
					memo = #{item.memo},
				</if>
				<if test='item.barcode != null'>
					barcode = #{item.barcode},
				</if>
				<if test='item.packetCode != null'>
					packet_code = #{item.packetCode},
				</if>
				<if test='item.sourceData != null'>
					source_data = #{item.sourceData},
				</if>
				<if test='item.isExchange != null'>
					is_exchange = #{item.isExchange},
				</if>
				<if test='item.sendTemprature != null'>
					send_temprature = #{item.sendTemprature},
				</if>
				<if test='item.sendHumidity != null'>
					send_humidity = #{item.sendHumidity},
				</if>
				<if test='item.status != null'>
					status = #{item.status},
				</if>

				<if test='item.rejectedQtyUnit != null'>
					rejected_qty_unit = #{item.rejectedQtyUnit},
				</if>
				<if test='item.rejectedQty != null'>
					rejected_qty = #{item.rejectedQty},
				</if>
				<if test='item.uniqueKind != null'>
					unique_kind = #{item.uniqueKind},
				</if>
				<if test="_databaseId == 'mysql'">
					last_update_datetime = sysdate(),
				</if>
				<if test="_databaseId == 'oracle'">
					last_update_datetime = sysdate,
				</if>
				version=version+1,
			</set>
			where id = #{item.id} and version= #{item.version}
		</foreach>
	</update>
	<update id="updateByBatch" parameterType="java.util.List" databaseId="oracle">
			<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
			update distr_bill_list
			<set>
				<if test='item.pid != null'>
					pid = #{item.pid},
				</if>
				<if test='item.billId != null'>
					bill_id = #{item.billId},
				</if>
				<if test='item.rowNumber != null'>
					row_number = #{item.rowNumber},
				</if>
				<if test='item.purconfirmBillId != null'>
					purconfirm_bill_id = #{item.purconfirmBillId},
				</if>
				<if test='item.purconfirmRowNumber != null'>
					purconfirm_row_number = #{item.purconfirmRowNumber},
				</if>
				<if test='item.purBillId != null'>
					pur_bill_id = #{item.purBillId},
				</if>
				<if test='item.purRowNumber != null'>
					pur_row_number = #{item.purRowNumber},
				</if>
				<if test='item.purBillDate != null'>
					pur_bill_date = #{item.purBillDate},
				</if>
				<if test='item.applyBillId != null'>
					apply_bill_id = #{item.applyBillId},
				</if>
				<if test='item.saleBillId != null'>
					sale_bill_id = #{item.saleBillId},
				</if>
				<if test='item.deliveryDate != null'>
					delivery_date = #{item.deliveryDate},
				</if>
				<if test='item.provGoodsId != null'>
					prov_goods_id = #{item.provGoodsId},
				</if>
				<if test='item.goodsGg != null'>
					goods_gg = #{item.goodsGg},
				</if>
				<if test='item.goodsMrfsId != null'>
					goods_mrfs_id = #{item.goodsMrfsId},
				</if>
				<if test='item.made != null'>
					made = #{item.made},
				</if>
				<if test='item.hosGoodsId != null'>
					hos_goods_id = #{item.hosGoodsId},
				</if>
				<if test='item.hosGoodsCode != null'>
					hos_goods_code = #{item.hosGoodsCode},
				</if>
				<if test='item.hosGoodsName != null'>
					hos_goods_name = #{item.hosGoodsName},
				</if>
				<if test='item.provGoodsErpCode != null'>
					prov_goods_erp_code = #{item.provGoodsErpCode},
				</if>
				<if test='item.provGoodsErpName != null'>
					prov_goods_erp_name = #{item.provGoodsErpName},
				</if>
				<if test='item.batchNum != null'>
					batch_num = #{item.batchNum},
				</if>
				<if test='item.isUniqueCode != null'>
					is_unique_code = #{item.isUniqueCode},
				</if>
				<if test='item.batchCode != null'>
					batch_code = #{item.batchCode},
				</if>
				<if test='item.sterilizationCode != null'> 
					sterilization_code = #{item.sterilizationCode},
				</if>
				<if test='item.certificateCode != null'> 
					certificate_code = #{item.certificateCode},
				</if>
				<if test='item.sterilizationEndDate != null'>
					sterilization_end_date = #{item.sterilizationEndDate},
				</if>
				<if test='item.sterilizationDate != null'>
					sterilization_date = #{item.sterilizationDate},
				</if>
				<if test='item.expdtEndDate != null'>
					expdt_end_date = #{item.expdtEndDate},
				</if>
				<if test='item.productDate != null'>
					product_date = #{item.productDate},
				</if>
				<if test='item.sendUnit != null'>
					send_unit = #{item.sendUnit},
				</if>
				<if test='item.sendScale != null'>
					send_scale = #{item.sendScale},
				</if>
				<if test='item.sendQty != null'>
					send_qty = #{item.sendQty},
				</if>
				<if test='item.receiveQty != null'>
					receive_qty = #{item.receiveQty},
				</if>
				<if test='item.sendPrice != null'>
					send_price = #{item.sendPrice},
				</if>
				<if test='item.subSendPrice != null'>
					sub_send_price = #{item.subSendPrice},
				</if>
				<if test='item.hosUnit != null'>
					hos_unit = #{item.hosUnit},
				</if>
				<if test='item.hosQty != null'>
					hos_qty = #{item.hosQty},
				</if>
				<if test='item.hosPrice != null'>
					hos_price = #{item.hosPrice},
				</if>
				<if test='item.outStorearea != null'>
					out_storearea = #{item.outStorearea},
				</if>
				<if test='item.outKind != null'>
					out_kind = #{item.outKind},
				</if>
				<if test='item.sumRow != null'>
					sum_row = #{item.sumRow},
				</if>
				<if test='item.memo != null'>
					memo = #{item.memo},
				</if>
				<if test='item.barcode != null'>
					barcode = #{item.barcode},
				</if>
				<if test='item.packetCode != null'>
					packet_code = #{item.packetCode},
				</if>
				<if test='item.sourceData != null'>
					source_data = #{item.sourceData},
				</if>
				<if test='item.isExchange != null'>
					is_exchange = #{item.isExchange},
				</if>
				<if test='item.sendTemprature != null'>
					send_temprature = #{item.sendTemprature},
				</if>
				<if test='item.sendHumidity != null'>
					send_humidity = #{item.sendHumidity},
				</if>
				<if test='item.status != null'>
					status = #{item.status},
				</if>

				<if test='item.rejectedQtyUnit != null'>
					rejected_qty_unit = #{item.rejectedQtyUnit},
				</if>
				<if test='item.rejectedQty != null'>
					rejected_qty = #{item.rejectedQty},
				</if>
				<if test='item.uniqueKind != null'>
					unique_kind = #{item.uniqueKind},
				</if>
				<if test="_databaseId == 'mysql'">
					last_update_datetime = sysdate(),
				</if>
				<if test="_databaseId == 'oracle'">
					last_update_datetime = sysdate,
				</if>
				version=version+1,
			</set>
			where id = #{item.id} and version= #{item.version}
		</foreach>
	</update>
	<delete id="delByBillId" parameterType="java.lang.String">
		DELETE
		FROM
		distr_bill_list
		WHERE bill_id=#{billId}
	</delete>
	<delete id="delByPid" parameterType="java.lang.String">
		DELETE
		FROM distr_bill_list
		WHERE pid=#{pid}
	</delete>
</mapper>