<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gyqx.spdhdi.orderMgr.dao.mapper.IReceiveBillHumitureListMapper"> 
	<sql id="baseSelect">
		select id,pid,box_code,distr_row_number,prov_goods_id,batch_code,unique_code,temprature,humidity,measure_date,receive_temprature,
		receive_humidity,receive_measure_date,source_data,version 
		from receive_bill_humiture_list
	</sql>
	<select id="list"  resultMap="receiveBillHumitureListMap" parameterType="gyqx.spdhdi.orderMgr.vo.ReceiveBillHumitureListVo">
		<include refid="baseSelect"></include>
		<where>
			<if test='pid != null and pid !=""'>
				and pid = #{pid}
			</if>
			<if test='distrRowNumber != null'>
				and distr_row_number = #{distrRowNumber}
			</if>
		</where>
	</select>
	<select id="get" resultMap="receiveBillHumitureListMap"
		parameterType="java.lang.String">
		<include refid="baseSelect"></include>
		<where>
			 id = #{id}
		</where>
	</select>
 	<resultMap type="gyqx.spdhdi.orderMgr.vo.ReceiveBillHumitureListVo" id="receiveBillHumitureListMap">
		<id property="id" column="id"/>
		<result property="pid"  column="pid"/>
		<result property="boxCode"  column="box_code"/>
		<result property="distrRowNumber"  column="distr_row_number"/>
		<result property="provGoodsId"  column="prov_goods_id"/>
		<result property="batchCode"  column="batch_code"/>
		<result property="uniqueCode"  column="unique_code"/>
		<result property="temprature"  column="temprature"/>
		<result property="humidity"  column="humidity"/>
		<result property="measureDate"  column="measure_date"/>
		<result property="receiveTemprature"  column="receive_temprature"/>
		<result property="receiveHumidity"  column="receive_humidity"/>
		<result property="receiveMeasureDate"  column="receive_measure_date"/>
		<result property="sourceData"  column="source_data"/>
		<result property="version"  column="version"/>
	</resultMap> 
	<insert id="insertBatch" parameterType="gyqx.spdhdi.orderMgr.vo.DistrBillHumitureListVo" databaseId="mysql">
		insert into receive_bill_humiture_list
		(id,pid,box_code,distr_row_number,prov_goods_id,batch_code,unique_code,temprature,humidity,measure_date,receive_temprature,receive_humidity
		,receive_measure_date,source_data,version,last_update_datetime)
		values
		<foreach collection="list" item="item" index="index" separator=",">
		(#{item.id},#{item.pid},#{item.boxCode},#{item.distrRowNumber},#{item.provGoodsId},#{item.batchCode},#{item.uniqueCode},#{item.temprature}
		,#{item.humidity},#{item.measureDate},#{item.receiveTemprature},#{item.receiveHumidity},#{item.receiveMeasureDate},#{item.sourceData},1,
			sysdate()
		)
		</foreach>
	</insert>
	<insert id="insertBatch" parameterType="gyqx.spdhdi.orderMgr.vo.DistrBillHumitureListVo" databaseId="oracle">
		insert into receive_bill_humiture_list
		(id,pid,box_code,distr_row_number,prov_goods_id,batch_code,unique_code,temprature,humidity,measure_date,receive_temprature,receive_humidity
		,receive_measure_date,source_data,version,last_update_datetime)
		<foreach collection="list" item="item" index="index" separator="union all">
		(select #{item.id},#{item.pid},#{item.boxCode},#{item.distrRowNumber},#{item.provGoodsId},#{item.batchCode},#{item.uniqueCode},#{item.temprature}
		,#{item.humidity},#{item.measureDate},#{item.receiveTemprature},#{item.receiveHumidity},#{item.receiveMeasureDate},#{item.sourceData},1,
			sysdate from dual
		)
		</foreach>
	</insert>
	<update id="update" parameterType="gyqx.spdhdi.po.ReceiveBillHumitureList" >
		update receive_bill_humiture_list
		<set>
			<if test='pid != null'>  
				pid = #{pid},
			</if> 
			<if test='boxCode != null'>  
				box_code = #{boxCode},
			</if> 
			<if test='distrRowNumber != null'>  
				distr_row_number = #{distrRowNumber},
			</if> 
			<if test='provGoodsId != null'>  
				prov_goods_id = #{provGoodsId},
			</if> 
			<if test='batchCode != null'>  
				batch_code = #{batchCode},
			</if> 
			<if test='uniqueCode != null'>  
				unique_code = #{uniqueCode},
			</if> 
			<if test='temprature != null'>  
				temprature = #{temprature},
			</if> 
			<if test='humidity != null'>  
				humidity = #{humidity},
			</if> 
			<if test='measureDate != null'>  
				measure_date = #{measureDate},
			</if> 
			<if test='receiveTemprature != null'>  
				receive_temprature = #{receiveTemprature},
			</if> 
			<if test='receiveHumidity != null'>  
				receive_humidity = #{receiveHumidity},
			</if> 
			<if test='receiveMeasureDate != null'>  
				receive_measure_date = #{receiveMeasureDate},
			</if> 
			<if test='sourceData != null'>  
				source_data = #{sourceData},
			</if>
			<if test="_databaseId == 'mysql'">
				last_update_datetime = sysdate(),
			</if>
			<if test="_databaseId == 'oracle'">
				last_update_datetime = sysdate,
			</if>
			version=version+1,
		</set>
		<where>
			and id = #{id}
			and version= #{version}
		</where>
	</update>
	<delete id="delById" parameterType="java.lang.String">
		DELETE
		FROM
		receive_bill_humiture_list
		WHERE id=#{id}
	</delete>
	<delete id="delByPid" parameterType="java.lang.String">
		DELETE
		FROM
		receive_bill_humiture_list
		WHERE pid=#{pid}
	</delete>
</mapper>